:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);

    --mainFont: 'Kumbh Sans', sans-serif;

    --normal: 400;
    --bold: 700;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    height: 100vh;
    background-color: var(--Dark-cyan);
    background-image: 
        url(/assets/images/bg-pattern-top.svg), 
        url(/assets/images/bg-pattern-bottom.svg);
    background-position:
        top -400px left -100px,
        bottom 00px right -100px;
    background-repeat: no-repeat;
    background-size: 1000px;

    

}
section{
    margin: 200px 0;
    font-family: var(--mainFont);
    font-size: 18px;
}

.card{
    width: 350px;
    margin: 0 auto;
    text-align: center;
}
.card-upper img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-info{
    background-color: white;
    margin-top: -10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card-info img{
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    bottom: 45px;
}
.name-age{
    font-weight: 700;
    letter-spacing: 0.8px;
    margin: -20px 0 10px;
}
.name-age span{
    color: var(--Dark-grayish-blue);
    font-weight: 400;
}
.city{
    font-weight: 400;
    color: var(--Dark-gray);
    margin-bottom: 30px;
}
hr{
    border: 0.1px solid rgb(223, 223, 223);
}

.counters{
    display: flex;
    justify-content: space-evenly;
}
.counters div{
    margin: 30px 0;
}
.counter{
    font-size: 1.1em;
    font-weight: 700;
}
.counter-title{
    font-size: 14px;
    font-weight: 400;
    color: var(--Dark-grayish-blue);
    letter-spacing: 0.8px;
}


@media screen and (max-width: 375px) {
    section{
        margin: 50px 0;
    }
    
    .card{
        width: 350px;
    }
    .card-upper img{
        width: 350px;
    }
}
@media screen and (max-width: 320px) {
    section{
        margin: 50px 0;
    }
    
    .card{
        width: 300px;
    }
    .card-upper img{
        width: 300px;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }